body{
  font-family: Ariel,helvetica, san-serif;
}
header {
  text-decoration: underline;
}
ul {
  list-style-type:square;
}

section {
  background-color: red;
  display:inline-block;
  border-style:inset;
  border-radius:10px;
  padding: 20px;
  margin: 30px;
  width: 30%;
  box-sizing:border-box;
}