<!DOCTYPE html>
<html>
<head>
  <title>student_search</title>
</head>
<body>

<p>Please Enter Student Name:</p>
  <form action="/student_search" method="POST">
    <input type="text" name="id" placeholder="Student Name">
    <button type="search">Submit</button>
  </form>

</body>
</html>