.coolocto {
	position: absolute;
	width: 300px;
	height: 500px;
	top:300px;
	left: 300px;
	margin-left: -100px;
	margin-top:-200px;

}

.octopus{
z z-index: 0
}

.hat {
   	z-index: 1
}

.glasses {
	z-index: 2
}
